[submodule "antikernel-ipcores"]
	path = antikernel-ipcores
	url = git@github.com:azonenberg/antikernel-ipcores.git
[submodule "stm32-cpp"]
	path = stm32-cpp
	url = ../stm32-cpp.git
[submodule "embedded-cli"]
	path = embedded-cli
	url = ../embedded-cli.git
[submodule "staticnet"]
	path = staticnet
	url = ../staticnet.git
